.error {
  color: red;
}

.login-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  background-color: var(--dark-background-color);
  width: 50%;
  height: 50%;
  display: grid;
  color: var(--text-light-color);
  font-size: var(--xlg-text);
  padding: 2rem 4rem;
  border-radius: 5px;
}