.book{
    position: relative;
    isolation: isolate;
    color: var(--text-light-color);
    width: 75%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: var(--dark-background-color);
    border-radius: 5px;
    overflow: hidden;
}

.book .main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.book .main .img{
    max-width: 40%;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.5);
}

.book .main .img-filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(13px);
}

.book .main .img-effect{
    box-shadow: 6px 0 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -2;
}

.info{
    padding: 2rem 4rem 2rem 0;
}

.book .title{
    font-size: var(--xlg-text);
}

.book .author{
    font-size: var(--lg-text);
    color: var(--text-off-color);
    padding-bottom: 2.5rem
}

.book .discription,
.book .discription *{
    font-size: var(--sm-text);
}