.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 350px;
  background-color: var(--nav-background-color);
  color: var(--text-light-color);
}

.profile-space{
  font-size: 3.2rem;
  width: 100%;
  height: 200px;
  text-align: center;
  border-bottom: solid 1px white;
}

.link{
  display: block;
}

.nav-button{
  width: 100%;
  padding: 25px;
  background-color: transparent;
  border: none;
}

.nav-button:hover{
  background-color: var(--nav-background-color);
}

.nav-button div{

}

.nav-button p{
 font-size: 3.2rem;
 color: var(--text-light-color);
}

.separator{
  font-size: 3.2rem;
  padding-bottom: 15px;
  margin-top: 50px;
  border-bottom: solid 1px white;
}