@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62.5%;
}

:root{
  /* Background variables */
  --dark-background-color: hsla(0, 0%, 0%, 0.5);
  --nav-background-color: rgba(255, 255, 255, 0.10);

  /* Fill variables */
  --heart-favorite-color: rgb(218, 85, 85);

  /* text color variables */
  --text-light-color: white;

  --xsm-text: 1.4rem;
  --sm-text: 1.8rem;
  --m-text: 2rem;
  --lg-text: 2.4rem;
  --xlg-text: 3.2rem;

  /* border variables */
  --main-border-decoration: solid;
  --main-border-color: white;

  --sm-border-width: 1px;
  --med-border-width: 2px;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app-background{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right, #13172D, #002E73);
}

main{
  margin-left: 350px;
}