@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62.5%;
}

:root{
  --dark-background-color: hsla(0, 0%, 0%, 0.5);
  --heart-favorite-color: rgb(218, 85, 85);
  --text-light-color: white;
  --nav-background-color: rgba(255, 255, 255, 0.10);
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app-background{
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right, #13172D, #002E73);
}