.search-area{
    width: 75%;
    margin-inline: auto;
    margin-top: 50px;
    padding: 25px 50px;
    background-color: var(--dark-background-color);
    border-radius: 5px;
}

.search-area{
    display: flex;
    justify-content: space-between;
}

.search-area .search-bar input,
.search-area .search-bar button,
.search-area button{
    font-size: 1.8rem;
    border:none;
    border-radius: none;
    outline: none;
    padding: 1rem 5rem;
}