:root{
    --border-effect: var(--main-border-decoration) var(--sm-border-width) var(--main-border-color);
}

.search-area{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    margin-top: 50px;
    padding: 25px 50px;
    background-color: var(--dark-background-color);
    border-radius: 5px;
}

.search-area .search-bar input,
.search-area .search-bar button,
.search-area button{
    font-size: var(--sm-text);
    height: 25px;
    border-radius: none;
    outline: none;
    background-color: transparent;
    color: var(--text-light-color)
}

.search-bar{
    display: flex;
    align-items: center;
    height: 25px;
}

.search-bar button img{
    height: 24px;
    margin-right: 1rem;
    transform-origin: bottom right;
    transform: rotate(10deg)
}

.search-area button,
.search-bar input,
input:placeholder-shown{
    border: none;
}

.search-area button:hover,
.search-bar input:hover,
.search-bar input:focus,
input:not(:placeholder-shown){
    border-bottom: var(--border-effect);
}

.search-area button img:hover{
    animation: search infinite ease-in-out alternate 750ms ;
}

@keyframes search{
    0%{transform: rotate(10deg);}
    100%{transform: rotate(-5deg);}
}